* {
    font-family: "Hind Siliguri", sans-serif;
}
.header {
    background-color: #FF683A12;
}
.navbar-nav {
    margin: 0 auto;
    width: 60%;
    justify-content: space-around;
}
.navbar-brand {
    color: #FF683A;
    font-size: 21px;
    line-height: 31px;
    font-weight: 400;
}
.header_chef_wrapper {
    position: relative;
    height: 500px;
}
.header_chef {
    position: absolute;
    top: 0;
    z-index: 20;
}
.header_chef img {
    width: 560px;
}
.header_chef_bg {
    background-color: red;
    width: 500px;
    height: 400px;
    position: absolute;
    z-index: 10;
}
.header__btn {
    color: #FDFBFB;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    padding: 20px 40px;
    background: rgb(255,126,86);
    background: linear-gradient(63deg, rgba(255,126,86,1) 0%, rgba(250,98,52,1) 100%);
}
.menu__card-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 32.5px;
}
.col-6.menu__price {
    display: flex;
    align-items: center;
}
.menu__price p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
.col-6.menu__button {
    text-align: right;
}
del {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}
.real_price {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.discount_price {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-decoration: line-through;
}
.menu {
    padding: 40px 0;
}
.menu__h2 {
    font-weight: 600;
    font-size: 38px;
}
.card {
    height: 480px;
    margin: 40px 0;
}
.card-body {
    background: #FAFAFF;
}
.card__img_dish {
    height: 360px;
    display: flex;
    align-items: center;
}
.card__img_dish img {
    width: 100%;
    padding: 0px 20px;
}
.menu__button .btn-primary {
    background: #FF7E56;
    border: 1px solid #FF7E56;
}
.menu__button a {
    color: #fff
}
/* Раздел "Наши сервисы" */
.services {
    background: rgba(255, 222, 204, 0.27);
    border-radius: 30px;
    text-align: center;
    padding: 185px 0;
}
.services__h2 {
    margin-bottom: 15px;
    font-size: 38px;
    font-weight: 600;
}
.services__paragraph, .services__card_paragraph {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #030303;
    padding-bottom: 50px;
}
.services__card {
    background: #FDFBFB;
    border-radius: 10px;
}
.services__card_body {
    width: 290px;
    margin: 0 auto;
}
.services__card_img {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;
    margin: 30px auto 30px;
    width: 121px;
    height: 161px;
    background: linear-gradient(180deg, rgba(252, 99, 52, 0) 0%, rgba(252, 99, 52, 0) 7.45%, rgba(252, 99, 52, 0.34) 119.25%);
}
.services__card_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
}
/* Шефы */
.chefs__card {
    position: relative;
    background: rgb(222,222,222);
    background: radial-gradient(circle, rgba(222,222,222,1) 28%, rgba(255,255,255,1) 100%);
}
.chefs__card_img {
    border-radius: 10px;
}
.chefs__card_img img {
    width: 100%;
}
.chefs__card_body {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #ff683ab5;
    padding: 20px 0;
    border-radius: 10px;
}
h3.chefs__card_h3 {
    margin: 0;
    color: #FDFBFB;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.chefs__card_body p.chefs__paragraph {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #fdfbfb60;
}
.latest_news__descr h2, .memebership_h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
}
.latest_news__descr p, .membership_paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #0a244e70;
    width: 42%;
    margin: 0 auto;
}
.latest_news__card-body h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
.latest_news__card-body p {
    font-size: 14px;
    color: rgb(10 36 78 / 70%);
    font-weight: 400;
    line-height: 22px;
}
.latest_news__card-body a {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF683A;
}
/* Section Membership */
section.membership {
    background: #FFF4F1;
    padding: 80px 0;
}
.memebership__form {
    width: 70%;
    margin: 15px auto;
}
.row.membership__text {
    width: 36%;
    text-align: center;
    margin: 0 auto;
}
.membership_paragraph {
    width: 100%;
}
input.membership__input-email {
    border-radius: 10px 0px 0px 10px;
    padding: 0;
    margin: 0;
    width: 710px;
    height: 75px;
    padding-left: 30px;
    border: none;
}
button.membership__btn {
    width: 185px;
    height: 75px;
    padding: 0;
    margin: 0;
    background: #FF683A;
    color: #FDFBFB;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    border: 0;
    border-radius: 10px;
    position: absolute;
    right: 20%;
}
.memebership__form form {
    display: flex;
    justify-content: space-evenly;
  }
/* Footer */
.footer {
    background: #030303
}
ul.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
a.footer__link {
    color: #ffffff78;
    text-decoration: none;
}

